<%= form_for @recipe, class: "space-y-8" do |f| %>
  <h2 class="mt-8 mb-8 text-2xl text-bold text-center">New Recipe</h2>
  <div class="flex space-y-8 w-1/2 mx-auto">
    <%= render 'shared/errors', object: f.object %>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex rounded-md shadow-sm">
          <%= f.text_field(:name, class: "flex-1 focus:ring-teal-500 focus:border-teal-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300") %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= f.label :cuisine, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex rounded-md shadow-sm">
          <%= f.text_field(:cuisine, class: "flex-1 focus:ring-teal-500 focus:border-teal-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300") %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= f.label :category, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.select :category, options_for_select(Recipe.categories), { prompt: "Select a category"}, class: "shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= f.label :difficulty, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.select :difficulty, options_for_select(Recipe.difficulties), {prompt: "Select difficulty"}, class: "shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= f.label :prep_time, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field(:prep_time, class: "shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md") %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= f.label :cook_time, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_field(:cook_time, class: "shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border-gray-300 rounded-md") %>
        </div>
      </div>
      <div class="w-[50vw]" data-controller="nested-ingredient">
        <template data-nested-ingredient-target="template">
          <%= f.fields_for :recipe_ingredients, RecipeIngredient.new, child_index: 'NEW_RECORD' do |recipe_ingredient| %>
            <%= render "recipe_ingredient_fields", form: recipe_ingredient %>
          <% end %>
        </template>
        <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
          <%= render "recipe_ingredient_fields", form: recipe_ingredient %>
        <% end %>
        <div class="mb-3" data-nested-ingredient-target="links">
          <%= link_to "Add Ingredient", "#", class: "mt-8 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500", data: { action: "click->nested-ingredient#add_association" } %>
        </div>
      </div>
      <div class="sm:col-span-6">
        <%= f.label :directions, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1">
          <%= f.text_area(:directions, class: "shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm border border-gray-300 rounded-md") %>
        </div>
      </div>
      <div class="sm:col-span-6">
        <%= f.label :image, class: "block text-sm font-medium text-gray-700" %>
        <%= f.file_field :image, class: "bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
      </div>
      <div class="pt-5">
        <div class="flex">
          <%= link_to "Cancel", recipes_path, class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500" %>
          <%= f.hidden_field(:user_id, value: current_user.id) %>
          <%= f.submit class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500" %>
        </div>
      </div>
    </div>
  <% end %>
