<%= form_for @recipe do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="row">
    <div class="col text-center" id="form-title">
      <h1>Add A New Recipe</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Recipe Info</h3>
    </div>
  </div>
  <div class="row" id="recipe-info">
    <div class="col-md-6">
      <%= f.text_field(:name, class: "form-control", placeholder: "Recipe Name") %>
    </div>
    <div class="col-md-4 ml-auto">
      <%= f.select :category, options_for_select(Recipe.categories), :prompt => "Select a category" %>
    </div>
  </div>
  <div class="row" id="recipe-image">
    <div class="col">
      <h3>Recipe Image</h3>
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Time</h3>
    </div>
  </div>
  <div class="row" id="cook-prep-time">
    <div class="col">
      <div class="input-group mb-3 w-50">
        <%= f.text_field(:prep_time, class: "form-control", placeholder: "Prep Time") %>
        <span class="input-group-text" id="basic-addon2">minute(s)</span><br>
      </div>
    </div>
    <div class="col">
      <div class="input-group mb-3 w-50">
        <%= f.text_field(:cook_time, class: "form-control", placeholder: "Cook Time") %>
        <span class="input-group-text" id="basic-addon2">minute(s)</span><br>
      </div>
    </div>
  </div>
  <div class="row" id="ingredients-directions-fields">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <h3>Ingredients</h3>
      <div data-controller="nested-ingredient">
        <template data-nested-ingredient-target="template">
          <%= f.fields_for :recipe_ingredients, RecipeIngredient.new, child_index: 'NEW_RECORD' do |recipe_ingredient| %>
            <%= render "recipe_ingredient_fields", form: recipe_ingredient %>
          <% end %>
        </template>
        <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
          <%= render "recipe_ingredient_fields", form: recipe_ingredient %>
        <% end %>
        <div class="mb-3" data-nested-ingredient-target="links">
          <%= link_to "Add Ingredient", "#", class: "btn btn-outline-primary", data: { action: "click->nested-ingredient#add_association" } %>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <h3>Directions</h3>
        <%= f.text_field(:directions, class: "form-control", placeholder: "Directions") %>
      </div>
    </div>
    <div class="row" id="submitted">
      <div class="col">
        <div class="actions">
          <%= f.hidden_field(:user_id, value: current_user.id) %>
          <%= f.submit class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
    <div class="col">
      <%= link_to "Cancel", recipes_path, class: "btn btn-danger" %>
    </div>
  </div>
