<section class="container" data-controller="protected" data-protected-refresh-interval-value="10">
  <div class="row">
    <div class="col col-md-8">
      <%= recipe_image @recipe %>
      <h4 class="recipe-creator"> Recipe by: <%= link_to @recipe.user.first_name, profile_path(@recipe.user), id: "user" %></h4>
      <h1 class="recipe-header">
        <%= @recipe.name.split.map(&:capitalize).join(' ') %>
      </h1>
      <div class="recipe-info">
        <p>Category: <strong><%= @recipe.category %></strong></p>
        <p>Prep: <strong><%= @recipe.prep_time %> min</strong></p>
        <p>Cook: <strong><%= @recipe.cook_time %> min</strong></p>
      </div>
      <div class="recipe-details">
        <section class="ingredients">
          <h2>Ingredients</h2>
          <ul id="ingredients-list">
            <% @recipe.recipe_ingredients.each do |ri| %>
              <li class="ingredients"><%= ri.quantity %> <%= ri.ingredient.name %> </li>
            <% end %>
          </ul>
        </section>
        <section class="directions">
          <h2>Directions</h2>
          <p><%= @recipe.directions %></p>
        </section>
      </div>
      <h4>Comments</h4>
      <% if user_signed_in? %>
        <%= render partial: "comments/form", locals: { comment: Comment.new, commentable: @recipe } %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "login", new_user_session_path %> to comment
      <% end %>
      <%= turbo_stream_from @recipe, :comments %>
      <%= tag.div id: "#{dom_id(@recipe)}_comments" do %>
        <%= render partial: "comments/comment_with_replies", collection: @recipe.comments.where(parent_id: nil), as: :comment %>
      <% end %>
      <% if user_signed_in? && current_user.id == @recipe.user_id %>
        <%= link_to "Edit Recipe", edit_recipe_path, class: "btn btn-sm btn-info" %>
        <%= link_to "Delete Recipe", recipe_path, method: :delete, class: "btn btn-sm btn-danger" %>
      <% end %>
      <%= link_to "Recipes Home", recipes_path, class: "btn btn-sm btn-secondary" %>
    </div>
    <div class="col-md-4">
      <h2>Check out these other recipes</h2>
    </div>
  </div>
</section>
